html, body {
  height: 100%;
  width: 100%;
}
body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjG1qK9PFK-ihaW9_lH6J7dQ4rl1CTAata5g&s');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh; 
    margin: 0; 
  }
  
